.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .launch-date-filters button,
  .launch-success-filters button {
    margin-right: 5px;
    padding: 5px 10px;
  }
  
  .missions-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .mission-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffe0f0; /* Light pink background for the card */
  }
  
  .mission-patch {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .mission-info h3 {
    margin: 0;
    color: #333;
  }
  
  .mission-info p {
    color: #666;
    font-size: 0.9em;
    margin: 5px 0;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #E91E63; /* Pink color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #C2185B; /* A darker pink for hover state */
  }
  